* {
  font-size: large;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
td {
  border: 2px solid rgb(174, 174, 174);
  text-align: center;
  padding: 5px;
  border-collapse: collapse;
}
input {
  margin: 3px;
  padding: 3px;
  background-color: rgb(255, 254, 246);
  border-radius: 5px;
  font-size: medium;
  width: 100px;
}

th {
  text-wrap: nowrap;
  border: 2px solid rgb(174, 174, 174);
  padding: 6px;
}
table {
  border-collapse: collapse;
}
button {
  padding: 5px;
  background-color: rgb(137, 122, 237);
  border-radius: 5px;
  font-weight: 700;
  font-size: medium;
  color: rgb(244, 244, 244);
}
button:hover {
  background-color: rgba(162, 148, 255, 0.5);
  scale: 1.04;
  color: black;
  cursor: pointer;
}
button:active {
  background-color: rgba(162, 148, 255, 0.5);
  scale: 1;
  color: black;
  cursor: pointer;
}
.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
